@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


h1,
h2,
h3,
h4,
h5,
h6,ul {
  margin: 0!important;
  padding: 0!important;
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: math!important;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style-type: none
}

p {
  padding: 0 !important;
  margin: 0 !important;
}
textarea{
  resize: none!important;
}
.column{
  margin: auto!important;
}input[type=number] {
  text-align:right;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
